// 添加背景图片
body {
   background: url(images/cool-background.png);//自己喜欢的图片地址
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 50% 50%;
}

pre .variable, pre .attribute, pre .tag, pre .name, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
    color: #e06253;
}

.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

// 大代码块的自定义样式
.table-container::-webkit-scrollbar {
    width: 0px;
} 
.highlight, pre {
    margin: 5px 0;
    color: #61afef;
    background: #282c34 !important;
}

// 文字标记
code{
    background: #f9f2f4;
    color: #d25474;
}
